<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google" value="notranslate">
    <link rel="icon" type="image/svg+xml" href="static/images/brick-robot.svg">
    <link rel="apple-touch-icon" href="static/images/apple-touch-icon.png">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
  </body>
</html>
